body,
html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal {
  height: 400px;
  width: 300px;
  border: 2px solid black;
}

.visor {
  margin: 20px 10px;
  height: 55px;
  border: 5px solid rgb(234, 231, 231);
  background-color: rgb(85, 85, 85);
}

.teclado {
  /*border: 2px solid darkslategray;*/
  display: grid;
  padding: 20px 20px;
  margin: 10px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 60px 60px 60px;
}

.btn {
  padding: 6px 6px;
  border: 2px solid black;
  width: 60px;
  height: 40px;
  text-align: center;
  margin: 0px 0px;
  background-color: rgb(180, 180, 230);
}

.btn1 {
  padding: 6px 6px;
  border: 2px solid black;
  width: 60px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background-color: rgb(209, 150, 162);
}
